{% extends 'core/template.html' %} {% load static %} {% block title %}Acerca de{% endblock title%}
{% block background %}{% static 'core/img/about-bg.jpg' %}{% endblock background %}
{% block header %}
<h1>Acerca de</h1>
<div class="subheading">Biografía</div>
{% endblock header %}
{% block content %}
<div class="col-lg-3 col-md-4 offset-lg-1">
  <img class="img-fluid avatar" src="{% static 'core/img/profile.png' %}" alt="">
</div>
<div class="col-lg-7 col-md-8">
  <h2 class="section-heading">Ángel Hernández</h2>
  
  <p>Me llamo Miguel Ángel Hernández Márquez y nací en Guadalajara, Jalisco (México). Desde joven mostré un gran interés por la tecnología, lo que me llevó a cursar estudios técnicos en computación durante la educación secundaria. Además, tuve la oportunidad de participar en el programa de Robótica impartido por el CINVESTAV, formando parte del equipo durante dos años y compitiendo en diversas competencias locales de robótica.</p>
  <p>Posteriormente, obtuve el título de Tecnólogo en Control Automático e Instrumentación por el Centro de Enseñanza Técnica Industrial, especializándome en automatización de procesos. Con el paso del tiempo, mi pasión por la tecnología y el ingenio de la industria se hizo más fuerte, lo que me llevó a obtener el título de Ingeniero en Mecatrónica con enfoque en robótica en el mismo centro educativo.</p>
  <p>A medida que avanzaba en mi carrera profesional, descubrí mi gran interés por el desarrollo de software, análisis de datos e inteligencia artificial, lo que me llevó a seguir profundizando en estas áreas.</p>
</div>
{% endblock content %}
