{% extends 'core/template.html' %} {% load static %} {% block title %}Contacto{% endblock title %}
{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock background %}
{% block header %}
<h1>Contacto</h1>
<div class='subheading'>
  Asesoría
</div>
{% endblock header %}
{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
  <p>Hoy en día, me dedico a desarrollar soluciones tecnológicas innovadoras y eficientes que contribuyan al crecimiento de las empresas. Manejo herramientas web y de analisis de datos tales como Django y .NET framework. Así como administracion de base de datos MySQL y ORACLE.</p>
  <br>
  <p><b>Teléfono:</b> +52 333 404 3331</p>
  <p><b>Corréo electrónico:</b> <a href="mailto:miguelherquez@gmail.com">miguelherquez@gmail.com</a></p>
</div>
{% endblock content %}
